@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0%;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header,
footer {
    background-color: red;
}

/* Navbar */
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.img-span {
    padding: 30px;
}
.logo-small{
    display: flex;
    align-items: center;
}

.logo img {
    background-color: white;
    padding: 15px;
    margin: 15px;
    border-radius: 100%;
}

.logo small {
    color: white;
    align-items: center;
}

.logo nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0 20px;    
}

.logo nav ul li {
    list-style-type: none;
    display: inline;
}

/* Content */
.container {
    margin: auto;
    max-width: 1200px;
}

.main-text {
    background-color: #333;
    padding: 20px 10px;
    color: white;
}

.main-text p {
    margin-bottom: 15px;
    line-height: 20px;
}

/* Map */
.map {
    text-align: center;
    padding: 40px 0;
}

.map h2 {
    margin-bottom: 20px;
    color: #666;
}

iframe {
    max-width: 400px;
    max-height: 400px;

}

/* Galery */
.galery div {
    display: inline;
    margin: 30px;
}

.galery span {
    margin-left: -105px;
    color: #333;
}

.galery, .galery h1 {
    color: #666;
    text-align: center;
    margin: 30px;
}
.galery img {
    margin-bottom: -12px;
    padding: 35px 10px;
    border: 1px solid #999;
    border-radius: 10%;

}

/* Footer */

.nav-footer {
    padding: 30px 0 0 50px;
    text-decoration:underline;
}

.nav-footer nav ul li a {
    color: white;
}

.nav-footer li {
    list-style-type: none;
    padding: 10px 0;
    
}
address {
    color: white;
    padding: 30px 0 30px 50px;
}

/* About */
.content {
    text-align: center;
}

.content h1 {
    padding: 30px;
    color: #555;
}

.text {
    padding: 30px;
    text-align: justify;
    color: #555;
    letter-spacing: 0.5px;    
}

/* Contatos */
.contato-form {
    text-align: center;
    color: #333;
    padding: 30px;
}

.form {
    border: 2px solid #999;
    padding: 30px 15px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.form input, select, textarea {
    margin-top: 8px;
    border-radius: 3px;
    border: 1.5px solid #333;
    padding: 3px 5px;
}

.form label {
    font-family: 'Roboto', sans-serif;
}

#submit {
    background-color: red;
    color:white ;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid red;
}

.form textarea {
    margin-bottom: 10px;
}